<%- include('header'); -%>
<div class="container-fluid">
  <h2 class="border-dark m-3">noteZ</h2>
  <div class="card card border-dark m-3">
    <div class="card-body">
      <h2 class="card-title"><%= title %></h2>

      <p class="card-text"><%= note %></p>
    </div>
  </div>
</div>

<%- include('footer'); -%>
