<%- include('header'); -%>
<div class="card card border-dark m-3">
  <div class="card-body">
    <h1 class="card-title"><%= title %></h1>
    <br />
    <h5 class="card-text"><%= note %></h5>
  </div>
</div>
<%- include('footer'); -%>
